:root {
    --color-1: rgba(255, 255, 255, 1);
    --color-2: rgba(59, 59, 59, 1);
    --color: rgba(98, 98, 98, 1);
    --font-weight-400: 400;
    --font-size-16: 16px;
    --font-size-13: 13px;
    --line-height-21: 21px;
    --line-height-24: 24px;
    --line-height-19: 19px;
    --font-color-1: rgba(29, 29, 29, 1);
    --display: flex;
    --flex-wrap: wrap;
    --flex-direction: row;
    --justify-content: space-between;
    --align-items: center;
}

html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container {
    display: var(--display);
    flex-wrap: var(--flex-wrap);
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--color-1);
    box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, 0.16);
}

.logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.push {
    margin-left: auto;
}

.login-button {
    font-weight: 700;
    font-size: var(--font-size-13);
    line-height: var(--line-height-24);
    background-color: var(--color-1);
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 10px;
    padding: 8px 20px 8px 20px;
}

.login-button:hover {
    background-color: rgba(224, 224, 224, 0.3);
    border-radius: 15px;
}

.basket {
    width: 20px;
    margin: 0 15px 0 15px;
}

.basket:hover {
    width: 22px;
    margin-left: 13px;
}

::placeholder {
    color: var(--color);
}

input {
    width: 100%;
    font-weight: 500;
    font-size: var(--font-size-16);
    line-height: var(--line-height-24);
    color: var(--color);
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(98, 98, 98, 0.3);
    padding-top: 56px;
}

.resto {
    font-weight: var(--font-weight-400);
    font-size: 22px;
    line-height: 34px;
    padding-top: 55px;
    color: var(--font-color-1);
}

.food-block {
    box-sizing: border-box;
    margin-bottom: 16px;
}

.food-block:hover {
    background-color: rgba(117, 117, 117, 0.1);
}

.food-block img {
    width: 100%;
    height: 100%;
}

.food-name {
    margin: 0;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height-24);
    color: var(--font-color-1);
}

.price {
    margin: 0;
    font-weight: var(--font-weight-400);
    font-size: 14px;
    line-height: var(--line-height-21);
    color: var(--color);
}

.time {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-13);
    line-height: var(--line-height-21);
    color: var(--font-color-1);
}

footer {
    margin-top: auto;
    background-color: rgba(38, 38, 38, 1);
}

.container-2 {
    align-items: stretch;
}

hr.footer-line {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

footer .white-logo {
    padding-top: 56px;
    padding-bottom: 40px;
}

.share {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.info {
    font-size: var(--font-size-16);
    line-height: var(--line-height-19);
    font-weight: var(--font-weight-400);
}

.info a,
p {
    color: rgba(255, 255, 255, 1);
}

.info span {
    color: rgba(73, 161, 68, 1);
}

.i a {
    font-size: var(--font-size-13);
    line-height: 15.23px;
}

a:link {
    text-decoration: none;
}

.lang {
    display: var(--display);
    background-color: var(--color-2);
    justify-content: space-around;
    align-items: center;
}

.lang select {
    color: var(--color-1);
    background-color: var(--color-2);
    font-size: var(--font-size-13);
    line-height: 15.23px;
    width: 80%;
    padding: 12px 0;
    border: none;
}