:root {
    --color-1: rgba(255, 255, 255, 1);
    --color-2: rgba(59, 59, 59, 1);
    --color: rgba(98, 98, 98, 1);
    --font-weight-400: 400;
    --font-size-16: 16px;
    --font-size-13: 13px;
    --line-height-21: 21px;
    --line-height-24: 24px;
    --line-height-19: 19px;
    --font-color-1: rgba(29, 29, 29, 1);
    --display: flex;
    --flex-wrap: wrap;
    --flex-direction: row;
    --justify-content: space-between;
    --align-items: center;
    --transform: scale(1.1);
    --transition: all .3s ease;
}

html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--color-1);
    box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, 0.16);
}

.navbar {
    margin: 0 auto;
    display: var(--display);
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    max-width: 1124px;
}

.navbar-logo {
    transition: var(--transition);
}

.navbar-logo:hover {
    transform: var(--transform);
}

.right-navbar {
    display: var(--display);
    flex-direction: var(--flex-direction);
    align-items: var(--align-items);
    justify-content: center;
}

.right-navbar-login button {
    font-weight: 700;
    font-size: var(--font-size-13);
    line-height: var(--line-height-24);
    background-color: var(--color-1);
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 10px;
    padding: 8px 20px;
    transition: var(--transition);
    margin: 10px 20px 10px 0;
}

.right-navbar-login button:hover {
    background-color: rgba(224, 224, 224, 0.3);
    border-radius: 13px;
}

.right-navbar-basket:hover {
    transform: var(--transform);
}

.main {
    margin: 0 auto;
    max-width: 1124px;
    padding-top: 80px;
    padding-bottom: 80px;
    /* border: 1px solid green; */
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(38, 38, 38, 1);
}

.footer-content {
    max-width: 1124px;
    margin: 0 auto;
}

.footer-content-logo {
    padding-top: 56px;
    padding-bottom: 40px;
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 32px;
}

.main-box1 {
    margin-bottom: 40px;
}

.lang {
    background-color: var(--color-2);
    display: var(--display);
    justify-content: space-around;
    align-items: center;
}

.lang select {
    color: var(--color-1);
    background-color: var(--color-2);
    font-size: var(--font-size-13);
    line-height: 15.23px;
    width: 80%;
    padding: 12px 0;
    border: none;
}

.main-box1-text {
    color: rgba(255, 255, 255, 1);
    font-size: var(--font-size-16);
    line-height: var(--line-height-19);
    font-weight: var(--font-weight-400);
    margin-top: 33px;
    margin-bottom: 17px;
}

.main-box1-text span {
    color: rgba(73, 161, 68, 1);
}

.facebook,
.twitter,
.instagram {
    transition: all .1s ease;
}

.facebook:hover {
    transform: var(--transform);
}

.twitter:hover {
    transform: var(--transform);
}

.instagram:hover {
    transform: var(--transform);
}

.main-box2 div,
.main-box3 div {
    margin-bottom: 23px;
}

.main-box2 a,
.main-box3 a {
    text-decoration: none;
    font-size: var(--font-size-13);
    line-height: 15.23px;
    font-weight: var(--font-weight-400);
    color: rgba(255, 255, 255, 1);
    transition: var(--transition);
}

.main-box2 a:hover,
.main-box3 a:hover {
    color: rgb(218, 208, 208);
    font-size: 14px;
}

footer .row {
    margin-right: 0;
}




